<%- include('partials/head')%>

    <body>
        <%- include('partials/navbar')%>
            <div class="container">
                <h1>Browing the <%=name%> subreddit</h1>
                <h2>
                    <%= description %>
                </h2>
                <h3>
                    <%= subscribers %> Total Subscribers
                </h3>
                <hr />

                <% for(let post of posts) { %>
                    <p>
                        <%= post.title %> - <b>
                                <%= post.author %>
                            </b>
                    </p>
                    <% if(post.img){ %>
                        <img src="<%= post.img %> " alt="" />
                        <% } %>
                            <% }%>
            </div>

    </body>

    </html>